<!-- Portfolio Grid Section -->
<section id="apply">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Je m'inscris</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Tu es développeur, graphiste, data analyst, architecte, UX designer ?</p>
            </div>
            <div class="col-lg-4">
                <p>Tu aimes imaginer, créer et travailler en équipe ? N'hesites plus, inscris-toi au Canal Coding Camp.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a target="_blank" href="https://equipe-formation-campusplus.typeform.com/to/FRPaqA" class="btn btn-lg btn-outline">
                    Je m'inscris
                </a>
            </div>
        </div>
    </div>
</section>