---
---

@import "{{ site.theme }}";

.page-header {
    background-color: black;
    color: white;
    height: 200px;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(0deg, #000, #000);
}
.page-header svg {
	height: 200px;
}

.site-footer {
	background-color: black;
	height: 150px;
	margin: 0;
    padding: 0;
}
.site-footer img{
	float: right;
}